<div class="row">

    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Danh sách chủ salon</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Name
                  </th>
                  <th>
                    Id
                  </th>
                  <th>
                    Email
                  </th>
                  <th class="text-right">
                    <button class="btn btn-sm btn-success btn-round btn-icon " (click)= "createNewSalonOwner()">
                      <a data-toggle="tooltip" data-placement="top" title="Thêm mới"> <i class="nc-icon nc-simple-add"></i></a>
                    </button>
                  </th>

                </thead>
                <tbody>
                    
                    <tr *ngFor="let salonOwner of salonOwners">
                        
                        <td>
                            <a href="#/admin/owner/{{salonOwner._id}}">{{ salonOwner.name }}</a>
                        </td>
                        <td>
                            id-{{ salonOwner.name }}
                        </td>
                        <td>
                            {{ salonOwner.name }}@email.com
                        </td>
                        <td >
                            <button class="btn btn-sm btn-danger btn-round btn-icon pull-right" (click)= "deleteSalonOwner(salonOwner._id)">
                              <a data-toggle="tooltip" data-placement="top" title="Xóa"> <i class="fa fa-trash"></i></a>
                            </button>
                            <p class="pull-right"> &#160; </p>
                            <button class="btn btn-sm btn-info btn-round btn-icon pull-right" (click)= "deleteSalonOwner(salonOwner._id)">
                              <a data-toggle="tooltip" data-placement="top" title="Sửa"><i class="fa fa-pencil"></i></a>
                            </button>
                            
                        </td>
                    </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>   
  