<div class="row">

    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Danh sách chủ salon</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Name
                  </th>
                  <th>
                    Id
                  </th>
                  <th>
                    Email
                  </th>
                  <th class="text-right">
                    <i class="nc-icon nc-simple-add btn btn-primary" (click)= "createNewDistributor()"></i>
                  </th>

                </thead>
                <tbody>
                    
                    <tr *ngFor="let distributor of distributors">
                        
                        <td>
                            <a href="#/owner/{{distributor._id}}">{{ distributor.name }}</a>
                        </td>
                        <td>
                            id-{{ distributor.name }}
                        </td>
                        <td>
                            {{ distributor.name }}@email.com
                        </td>
                        <td >
                            <p class="btn btn-primary pull-right" (click)= "deleteDistributor(distributor._id)"> Xóa </p>
                            <p class="pull-right"> &#160; </p>
                            <p class="btn btn-primary pull-right"> Sửa </p>
                        </td>
                    </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>   
  