<div class="row">

    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Danh sách nhà phân phối</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Tên
                  </th>
                  <th>
                    Số điện thoại
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Sản phẩm
                  </th>
                  <th class="text-right">
                    <button class="btn btn-sm btn-success btn-round btn-icon " (click)= "createNewDistributor()">
                      <a data-toggle="tooltip" data-placement="top" title="Thêm mới"> <i class="nc-icon nc-simple-add"></i></a>
                    </button>
                  </th>

                </thead>
                <tbody>
                    
                    <tr *ngFor="let distributor of distributors">
                        
                        <td>
                            <a href="{{prefixPath}}/{{distributor._id}}/profile">{{ distributor.name }}</a>
                        </td>
                        <td>
                            id-{{ distributor.name }}
                        </td>
                        <td>
                            {{ distributor.name }}@email.com
                        </td>
                        <td>
                          <a href="{{prefixPath}}/{{distributor._id}}/products">Tất cả sản phẩm</a>
                        </td>
                        <td >
                          <button class="btn btn-sm btn-danger btn-round btn-icon pull-right" (click)= "deleteDistributor(distributor._id)">
                            <a data-toggle="tooltip" data-placement="top" title="Xóa"> <i class="fa fa-trash"></i></a>
                          </button>
                          <p class="pull-right"> &#160; </p>
                          <button class="btn btn-sm btn-info btn-round btn-icon pull-right" (click)= "deleteDistributor(distributor._id)">
                            <a data-toggle="tooltip" data-placement="top" title="Sửa"><i class="fa fa-pencil"></i></a>
                          </button>
                        </td>
                    </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>   
  