<div class="row" >
    <div class="col-md-4" *ngFor="let salon of salons">
        <a href="#/{{prefixPath}}/{{salon._id}}">
            <div class="card card-stats">
                <div class="card-body ">
                <div class="row">
                    <div class="col-12">
                    <div class="icon-big text-center icon-warning">
                        <i class="nc-icon nc-calendar-60 text-primary"></i>
                    </div>
                    </div>
                    <div class="col-12 col-md-8">
                    <div class="numbers">
                        <p class="card-category">{{ salon.name }}</p>

                    </div>
                    </div>
                </div>
                </div>
                <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="nc-icon nc-pin-3"></i> {{ salon.address }}
                </div>
                </div>
            </div>
        </a>
    </div>
</div>
