<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274030493342-k0na0g7to6qu985gssn9k1hm9e0oi454.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274030493342-k0na0g7to6qu985gssn9k1hm9e0oi454</string>
	<key>API_KEY</key>
	<string>AIzaSyASIfKYLI3MC0CZWNP6Mq4FYzO2ryUAAMo</string>
	<key>GCM_SENDER_ID</key>
	<string>274030493342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.salonmobile</string>
	<key>PROJECT_ID</key>
	<string>gsalon-86709</string>
	<key>STORAGE_BUCKET</key>
	<string>gsalon-86709.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274030493342:ios:73c094cd3d33a16a40c58f</string>
</dict>
</plist>