
<div class="row" >
    <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="isModifiedEnable">
        
        <div class="btn btn-sm btn-primary card card-stats" (click)= "createNewProduct()">
            <div class="card-body ">
                <div class="icon-big text-center icon-warning">
                    <i class="nc-icon nc-simple-add text-primary"></i>
                </div>
                <p class="card-category text-center">Thêm sản phẩm</p>
            </div> 
            
        </div>
    </div>
    
    <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of products">
      <a href="{{prefixPath}}/{{item._id}}">
        <div class=" btn-primary card card-pricing">
          <div class="card-header " *ngIf="item.event; else noKM">
            <h6 class="card-title">{{item.name}}</h6>
            <!--p class="card-category">Tên nhà phân phối</p-->
            <p class="card-category text-left" style="color:red">{{item.event}}</p>                            
          </div>
          <ng-template #noKM>
            <div class="card-header ">
              <h6 class="card-title">{{item.name}}</h6>
              <p class="card-category text-left">&nbsp;</p>
            </div>
          </ng-template>
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-6">
                <div class="icon-big text-center icon-warning">
                    <img class="productPhoto border-gray" src="{{dbAddress}}/{{item.photos[0]}}" >
                </div>
              </div>
              <div class="col-7 col-md-6">
                <p class="card-category text-right">Số lượng</p>               
                <h6 class="card-title text-right">{{item.quantity}} </h6>
              </div>
            </div>
          </div>
          <div class="card-footer " *ngIf="item.discount > 0; else noDiscount">
            <hr>

            <div class="row" >
              <div class="col-lg-6 col-md-6 col-6 ml-auto">
                <p class="card-category text-left">Giá ({{item.unit}})</p>
              </div>
              <div class="col-lg-6 mr-auto text-right">
                <h6><s>{{item.price| currency:'VND'}}</s></h6>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-md-6"style="color:red">
                  <img  src="../../../assets/img/sale.png" width="40" height="40" >{{item.discount}}% 
              </div>
              <div class="col-lg-6 mr-auto text-right" style="color:red">
                <h6>{{item.price*((100-item.discount)/100)| currency:'VND'}}</h6>
              </div>
              
              
            </div>

          </div>
          <ng-template #noDiscount>
            <div class="card-footer ">
              <hr>
  
              <div class="row" >
                <div class="col-lg-6 col-md-6 col-6 ml-auto">
                  <p class="card-category text-left">Giá ({{item.unit}})</p>
                </div>
                <div class="col-lg-6 mr-auto text-right">
                  <h6>{{item.price| currency:'VND'}}</h6>
                </div>
              </div>
              <div class="row">
                
                <div class="col-lg-12 mr-auto text-right" >
                  <p class="card-category text-left">&nbsp;</p>                  
                </div>
                
                
              </div>
  
            </div>
          </ng-template>
        </div>
      </a>
    </div>
    
    
</div>
