
<div class="row" >
    <div class="col-lg-3 col-md-6 col-sm-6">
        
        <div class="btn btn-sm btn-primary card card-stats" (click)= "createNewProduct()">
            <div class="card-body ">
                <div class="icon-big text-center icon-warning">
                    <i class="nc-icon nc-simple-add text-primary"></i>
                </div>
                <p class="card-category text-center">Thêm sản phẩm</p>
            </div> 
            
        </div>
    </div>
    
    <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of products">
      <a href="#/{{prefixPath}}/{{item._id}}">
        <div class=" btn-primary card card-pricing">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-6">
                <div class="icon-big text-center icon-warning">
                    <img class="productPhoto border-gray" src="http://localhost:3000/{{item.photos[0]}}" >
                </div>
              </div>
              <div class="col-7 col-md-6">
                <p class="card-category text-right">Số lượng</p>               
                <h5 class="card-title text-right">{{item.quantity}}</h5>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
                <h6 class="card-title text-center">{{item.name}}</h6>
          </div>
        </div>
      </a>
    </div>
    
    
</div>
