<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let salonOwner of salonOwners">
        <a href="#/owner/{{salonOwner._id}}">
            <div class="btn btn-primary card card-stats" >
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-globe text-warning"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                            <p class="card-category">
                                {{ salonOwner.name }}
                            </p>
                            <p class="card-title"> 
                                <i class="nc-icon nc-bank"></i>    10 
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <div class="legend">
                            <i class="fa fa-circle text-primary"></i> Opened
                            <i class="fa fa-circle text-gray"></i> Closed
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="btn btn-primary card card-stats" (click)="createNewSalonOwner()" >
            <div class="card-body ">
                <div class="icon-big text-center icon-warning">
                    <i class="nc-icon nc-simple-add"></i>
                </div>
            </div>
            <div class="card-footer ">
                <p class="card-category">
                    Thêm chủ salon mới
                </p>
            </div>
        </div>
    </div>
</div>   
  