<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Thêm salon mới</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <form #simpleForm="ngForm"> 
      <input type="text" [(ngModel)]="addedSalonName" [ngModelOptions]="{standalone: true}" placeholder="Enter salon Name" required>
    </form>
    
  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="addNewSalon()">Ok</button>
  </div>
  
  