
<link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-inputs/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-lists/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet" />

<div class="modal-body">
    <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Thông tin Salon mới</h5>
        </div>
        <div class="card-body">
          <form #customerForm="ngForm">
            <div class="row">
              <div class="col-md-7 pr-1">
                <div class="form-group">
                    <label>Tên Salon(*)</label>
                    <input type="text" class="form-control" [(ngModel)]="salon.name" [ngModelOptions]="{standalone: true}">
                  </div>
              </div>
              <div class="col-md-5 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email(*)</label>
                  <input type="email" class="form-control" [(ngModel)]="salon.email" [ngModelOptions]="{standalone: true}" placeholder="abc@xyz.com">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Thông tin salon</label>
                  <input type="text" class="form-control" [(ngModel)]="salon.info" [ngModelOptions]="{standalone: true}" placeholder="Thêm thông tin về dịch vụ và thợ làm tóc">
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Chủ Salon(*)</label>
                    <select input type="text" class="form-control"  [(ngModel)]="chosenSalonOwner" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let salonOwner of salonOwners" [ngValue]="salonOwner">
                        {{salonOwner.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                    <div class="form-group">
                      <label>Số điện thoại(*)</label>
                      <input type="text" class="form-control" [(ngModel)]="salon.phone" [ngModelOptions]="{standalone: true}" placeholder="000-000-000" value="000-000-000">
                    </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>Thành Phố(*)</label>
                        <!-- <input type="text" class="form-control" [(ngModel)]="salon.city" [ngModelOptions]="{standalone: true}" placeholder="Hồ Chí Minh" value="Hồ Chí Minh"> -->
                        <div class="input--style-1" >
                          <ng-autocomplete [data]="cities" [searchKeyword]="keyword" (selected)='selectCityEvent($event)'
                              (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                              [notFoundTemplate]="notFoundTemplate">    
                                                      
                          </ng-autocomplete>
                          
                          <ng-template #itemTemplate let-item>                            
                              <a [innerHTML]="item.name"></a>
                          </ng-template>
                      
                          <ng-template #notFoundTemplate let-notFound>
                              <div [innerHTML]="notFound"></div>
                          </ng-template>
                      </div>
                      </div>
                    </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>Quận(*)</label>
                    <!-- <input type="text" class="form-control" [(ngModel)]="salon.district" [ngModelOptions]="{standalone: true}" placeholder="Quận 1" value="Quận 1"> -->
                    <div class="input--style-1" >
                      <ng-autocomplete [data]="districts" [searchKeyword]="keyword" (selected)='selectDistrictEvent($event)'
                          (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                          [notFoundTemplate]="notFoundTemplate">
                      </ng-autocomplete>
                  
                      <ng-template #itemTemplate let-item>
                          <a [innerHTML]="item.name"></a>
                      </ng-template>
                  
                      <ng-template #notFoundTemplate let-notFound>
                          <div [innerHTML]="notFound"></div>
                      </ng-template>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Địa chỉ</label>
                      <input type="text" class="form-control" [(ngModel)]="salon.address" [ngModelOptions]="{standalone: true}" placeholder="1 Điện Biên Phủ">
                    </div>
                  </div>
                </div>

            
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round" (click)="modal.dismiss()"> Cancel</button>
                <button type="submit" class="btn btn-primary btn-round" (click)="addNewSalon()"> Ok</button>
              </div>
            </div>
          </form>
        </div>
      </div>

</div>
  
  