<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/default-avatar.png" alt="...">
            <h5 class="title">{{ customer.firstname }} {{ customer.lastname }}</h5>
          </a>
          <p class="description">
            @{{ customer.username }}
          </p>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>12
                <br>
                <small>Files</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>2GB
                <br>
                <small>Used</small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">
              <h5>24,6$
                <br>
                <small>Spent</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Thông tin cá nhân</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" disabled="" placeholder="username" value="{{ customer.username }}">
              </div>
            </div>
            
            <div class="col-md-8 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" placeholder="Email" value="{{ customer.email }}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Họ</label>
                <input type="text" class="form-control" placeholder="Last Name" value="{{ customer.lastname }}">
              </div>
            </div>
            <div class="col-md-6 px-1">
              <div class="form-group">
                <label>Tên</label>
                <input type="text" class="form-control" placeholder="First Name" value= "{{ customer.firstname }}">
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Ngày sinh</label>
                <input type="text" class="form-control" placeholder="Date of birth" value="{{ customer.dob | date}}">
              </div>
            </div>
            <div class="col-md-5 px-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Số điện thoại</label>
                <input type="email" class="form-control" placeholder="Phone number">
              </div>
            </div>
            <div class="col-md-2 pl-1">
              <div class="form-group">
                <label>Giới Tính</label>
                <input type="text" class="form-control" placeholder="Gender" value="{{ customer.gender }}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Địa chỉ</label>
                <input type="text" class="form-control" placeholder="Home Address" value="{{ customer.address }}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Quận</label>
                <input type="text" class="form-control" placeholder="District" value="{{ customer.district }}">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Thành phố</label>
                <input type="text" class="form-control" placeholder="City" value="{{ customer.city }}">
              </div>
            </div>
            
          </div>
          
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Thay đổi</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Dịch vụ đã sử dụng</h4>
  </div>
  <div class="card-body">
    <ul class="list-unstyled team-members">
      <li>
        <div class="row">
          <div class="col-md-2 col-2">
            <div class="avatar">
              <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
            </div>
          </div>
          <div class="col-md-7 col-7">
            DJ Khaled
            <br />
            <span class="text-muted">
              <small>Offline</small>
            </span>
          </div>
          <div class="col-md-3 col-3 text-right">
            <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-2 col-2">
            <div class="avatar">
              <img src="assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
            </div>
          </div>
          <div class="col-md-7 col-7">
            Creative Tim
            <br />
            <span class="text-success">
              <small>Available</small>
            </span>
          </div>
          <div class="col-md-3 col-3 text-right">
            <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-2 col-2">
            <div class="avatar">
              <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
            </div>
          </div>
          <div class="col-ms-7 col-7">
            Flume
            <br />
            <span class="text-danger">
              <small>Busy</small>
            </span>
          </div>
          <div class="col-md-3 col-3 text-right">
            <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>