<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-user">

          <div class="image">
            <img src="assets/img/top_border.jpg" alt="...">
          </div>
          <div class="card-body">
            <div class="author">
              <a>
                <img class="avatar border-gray" src={{strPhotos[0]}}>

                <h5 class="title">{{ productDb.name }}</h5>
              </a>
              <p class="description">
                Sản phẩm {{ productDb.category }}
              </p>
              <p class="description">
                {{ productDb.brand }}
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div class=" card card-user">
          <div class="card-header " *ngIf="productDb.event; else noKM">
            <h6 class="card-title">{{productDb.name}}</h6>
            <!--p class="card-category">Tên nhà phân phối</p-->
            <p class="card-category text-left" style="color:red">Khuyến mãi: {{productDb.event}}</p>
          </div>
          <ng-template #noKM>
            <div class="card-header ">
              <h6 class="card-title">{{productDb.name}}</h6>
              <p class="card-category text-left">&nbsp;</p>
            </div>
          </ng-template>

          <div class="card-body ">
            <p class="card-category"><b>Thông tin sản phẩm:</b></p>
            <p class="card-category">{{productDb.info}}</p>
          </div>
          <div class="card-footer " *ngIf="productDb.discount > 0; else noDiscount">
            <hr>

            <div class="row">
              <div class="col-lg-6 ml-auto">
                <div class="row">
                  <p class="card-category text-left">Giá ({{productDb.unit}}):&nbsp;&nbsp;&nbsp;<b><s>{{productDb.price|
                        currency:'VND'}}</s></b></p>
                </div>
                <div class="row" style="color:red">
                  <img src="../../../assets/img/sale.png" width="40"
                    height="40">{{productDb.discount}}%&nbsp;&nbsp;&nbsp;
                  <b>{{productDb.price*((100-productDb.discount)/100)| currency:'VND'}}</b>
                </div>
              </div>

              <div class="col-lg-6 text-right">

                <div class="row">
                  <p class="card-category text-right">Số lượng hàng</p>
                </div>
                <div class="row">
                  <h6><b>{{productDb.quantity}}</b></h6>
                </div>
              </div>
            </div>


          </div>
          <ng-template #noDiscount>
            <div class="card-footer ">
              <hr>

              <div class="row">
                <div class="col-lg-6 ml-auto">
                  <div class="row">
                    <p class="card-category text-left">Giá ({{productDb.unit}}):&nbsp;&nbsp;&nbsp;<b>{{productDb.price|
                        currency:'VND'}}</b></p>
                  </div>
                  <div class="row">
                    <b>&nbsp;</b>
                  </div>
                </div>

                <div class="col-lg-6 text-right">

                  <div class="row">
                    <p class="card-category text-right">Số lượng hàng</p>
                  </div>
                  <div class="row">
                    <h6><b>{{productDb.quantity}}</b></h6>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card">

        <div class="card-header">
          <h4 class="card-title">Chi tiết sản phẩm</h4>

        </div>
        <div class="card-body" *ngFor="let photo of strPhotos; let i = index">
          <div *ngIf="(photo !== 'null') && (i != 0)">
            <img src="{{photo}}">
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card" style='position: sticky;top: 140px'>
      <div class="card-header " *ngIf="productDb.event; else noKM">
        <h6 class="card-title">{{productDb.name}}</h6>
        <!--p class="card-category">Tên nhà phân phối</p-->
        <p class="card-category text-left" style="color:red">Khuyến mãi: {{productDb.event}}</p>
      </div>
      <ng-template #noKM>
        <div class="card-header ">
          <h6 class="card-title">{{productDb.name}}</h6>
          <p class="card-category text-left">&nbsp;</p>
        </div>
      </ng-template>
      <div class="card-body ">
        <div class="row">

          <div class="col-md-12">
            <p class="card-category"><b>Số lượng:</b></p>
            <input type="text" class="form-control" value="{{ pOrder.quantity }}" [(ngModel)]="pOrder.quantity"
              [ngModelOptions]="{standalone: true}">
          </div>

          <div class="col-md-12" style="padding-top: 10px;">
            <div class="form-group">
              <label>Hình thức thanh toán</label>
              <select input type="text" class="form-control" [(ngModel)]="pOrder.paymentType"
                [ngModelOptions]="{standalone: true}">
                <option *ngFor="let ptype of PaymentTypes">
                  {{ptype}}
                </option>
              </select>

            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Chọn ngày</label>

              <input class="form-control" name="dateP" [(ngModel)]="modelDob" [ngModelOptions]="{standalone: true}"
                ngbDatepicker #d="ngbDatepicker" [minDate]="today" (click)="d.toggle()">

            </div>
          </div>

        </div>




      </div>



      <div class="card-footer ">
        <hr>
        <div class="stats" >
          <div class="row">
            <p class="card-category text-left">Tổng cộng :&nbsp;<b><s>{{pOrder.quantity*productDb.price|
                  currency:'VND'}}</s></b></p>
          </div>
          <div class="row" style="color:red" *ngIf="discount > 0">
            <img src="../../../assets/img/sale.png" width="40" height="40">{{discount}}%&nbsp;
            <b>{{pOrder.quantity*productDb.price*((100-discount)/100)| currency:'VND'}}</b>
          </div>
        </div>

        <div class="btn btn-booking card card-btn" (click)="orderProduct()">
          Đặt hàng
        </div>
      </div>


    </div>
  </div>


</div>