<div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        
        <div class="image">
          <img src="assets/img/top_border.jpg" alt="..." >
        </div>
        <div class="card-body">
          <div class="author">
            <a>
              <img class="avatar border-gray" src={{strPhotos[0]}} >              
  
              <h5 class="title">{{ productDb.name }}</h5>
            </a>
            <p class="description">
              Sản phẩm {{ productDb.category }}
            </p>
            <p class="description">
              @{{ productDb._distributorName }}
            </p>
          </div>
        </div>
      </div>
  
    </div>
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Thông tin sản phẩm</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-8 pr-1">
                <div class="form-group">
                  <label>Tên sản phẩm</label>
                  <input type="text" class="form-control"  value="{{ product.name }}" [(ngModel)]="product.name" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Loại sản phẩm</label>
                    <select input type="text" class="form-control"  [(ngModel)]="product.category" [ngModelOptions]="{standalone: true}">
                      <option [selected]="productDb.category == 'product.category' " *ngFor="let type of Category">
                        {{type.value}}
                      </option>
                    </select>
                </div>
              </div>
            </div>
 
            <div class="row">
                <div class="col-md-11 pr-1">
                  <div class="form-group">
                    <label>Thông tin</label>
                    <input type="text" class="form-control" value="{{ product.info }}" [(ngModel)]="product.info" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Giảm giá (%)</label>
                  <input type="text" class="form-control" value="{{ product.discount }}" [(ngModel)]="product.discount" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-8 pr-1">
                <div class="form-group">
                  <label>Khuyến mại</label>
                  <input type="text" class="form-control" value="{{ product.event }}" [(ngModel)]="product.event" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
          </div>

            <div class="row">
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label>Giá</label>
                    <input type="text" class="form-control" value="{{ product.price }}" [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>

                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label>Số lượng</label>
                    <input type="text" class="form-control" value="{{ product.quantity }}" [(ngModel)]="product.quantity" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-3 pr-1">
                  <div class="form-group">
                    <label>Đơn vị</label>
                      <select input type="text" class="form-control"  [(ngModel)]="product.unit" [ngModelOptions]="{standalone: true}">
                        <option [selected]="productDb.unit == 'product.unit' " *ngFor="let unit of Unit">
                          {{unit.value}}
                        </option>
                      </select>
                  </div>
                </div>
            </div>
    
            
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Chi tiết sản phẩm</h4>

    </div>
    <div class="card-body" *ngFor="let photo of strPhotos; let i = index">
      <div *ngIf="(photo != 'null') && (i != 0)">
        <img src="{{photo}}" >
      </div>
      
    </div>
  </div>