<div class="row" style='position: sticky;top: 90px; z-index:999;'>
  <div class="col-md-10 pl-1" >
    <div class="row">
      <div class="col-md-4">
          <div class="form-group">
              <label class="search-label">Thành phố</label>
              <div class="input--style-1" >
                  <ng-autocomplete [data]="cities" [searchKeyword]="keyword" (selected)='selectCityEvent($event)'
                      (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                      [notFoundTemplate]="notFoundTemplate">    
                                              
                  </ng-autocomplete>
                  
                  <ng-template #itemTemplate let-item>                            
                      <a [innerHTML]="item.name"></a>
                  </ng-template>
              
                  <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                  </ng-template>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
              <label class="search-label">Quận</label>
              <div class="input--style-1">
                  <ng-autocomplete [data]="districts" [searchKeyword]="keyword" (selected)='selectDistrictEvent($event)'
                      (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                      [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>
              
                  <ng-template #itemTemplate let-item>
                      <a [innerHTML]="item.name"></a>
                  </ng-template>
              
                  <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                  </ng-template>
              </div>
          </div>
      </div>
      <div class="col-md-2">
          <label class="search-label"></label>
          <button class="btn-circle-search-submit" type="submit"><i class="fa fa-search"></i></button>                            
      </div>
    </div>
  </div>
  <div class="col-md-2 pr-1" >
    <button class="btn-circle-search-submit" type="submit" (click)="toggleMap()">
      <!-- <button type="button" class="btn btn-primary btn-round d-block mr-0 ml-auto" (click)="toggleMap()">        -->
          {{buttonMap}}
      </button>
  </div>
  
</div>
<div class="row">
  <label class="search-label"></label>
</div>
<div class="row" *ngIf="isMapShown; else noShowMap">
  
  <div class="col-md-3" >
    <div class="row" *ngFor="let salon of salons; let i = index">
      <a href="{{prefixPath}}/salons/{{salon._id}}">
        <div class="btn-primary card card-pricing" (mouseover)="mouseOverAction(salon, i)" (mouseout)="mouseOutAction(salon, i)"> 
          <div class="image">
              <!--img src="assets/img/damir-bosnjak.jpg" alt="..." -->
              <img src='{{dbAddress}}/{{salon.photos[0]}}' alt="..." >
          </div>
  
          <div class="card-footer">          

              <h6 class="text-left">{{ salon.name }}</h6>
              <p class="text-left">{{salon.address | slice:0:20}}{{salon.address.length > 20 ? '...' : ''}}</p>

              <div class="row">
                <div class="col-md-5 text-left">
                    <i class="fa fa-star text-danger"></i> {{salon.rate}} ({{salon.numRate}})
                </div>
                <div class="col-md-7 text-right" *ngIf="salon.services[0]; else noPrice">
                  <p>{{salon.services[0].price | currency:'VND'}} ~</p>
                </div>

                <ng-template #noPrice>
                  <div class="col-md-7 text-right">
                  <p>{{0 | currency:'VND'}} ~</p>
                  </div>
                </ng-template>
              </div>
          </div>
          </div>
      </a>
    </div>
  </div>

  <div class="col-md-9" >
    <div class="card " style='position: sticky;top: 140px'>
      <div class="map">
        <div id='hairSalonMap' class="map" style='height: 100%'></div>
      </div>
    </div>
  </div>

</div>

<ng-template #noShowMap>
  <div class="row">
    <div class="col-md-3" *ngFor="let salon of salons">
      <a href="{{prefixPath}}/salons/{{salon._id}}">
        <div class="btn-primary card card-pricing" > 
          <div class="image">
              <!--img src="assets/img/damir-bosnjak.jpg" alt="..." -->
              <img src='{{dbAddress}}/{{salon.photos[0]}}' alt="..." >
          </div>
  
          <div class="card-footer">
              <h6 class="text-left">{{ salon.name }}</h6>
              <p class="text-left">{{salon.address | slice:0:20}}{{salon.address.length > 20 ? '...' : ''}}</p>

              <div class="row">
                <div class="col-md-5 text-left">
                    <i class="fa fa-star text-danger"></i> {{salon.rate}} ({{salon.numRate}})
                </div>
                <div class="col-md-7 text-right" *ngIf="salon.services[0]; else noPrice">
                  <p>{{salon.services[0].price | currency:'VND'}} ~</p>
                </div>

                <ng-template #noPrice>
                  <div class="col-md-7 text-right">
                  <p>{{0 | currency:'VND'}} ~</p>
                  </div>
                </ng-template>
                
              </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</ng-template>