<div class="row">
  <button type="button" class="btn btn-primary btn-round d-block mr-0 ml-auto" (click)="toggleMap()"> 
  <!--button type="button" class="btn btn-primary btn-round" style="position: sticky;top: 80px;position: absolute; right: 0px;" (click)="toggleMap()"--> 
    {{buttonMap}}
  </button>
</div>

<div class="row" *ngIf="isShown; else elseBlock">
  
  <div class="col-md-3" >
    <div class="row" *ngFor="let salon of salons">
      <a href="#/salons/{{salon._id}}">
        <div class="btn-primary card card-pricing" > 
          <div class="image">
              <!--img src="assets/img/damir-bosnjak.jpg" alt="..." -->
              <img src='http://localhost:3000/{{salon.photos[0]}}' alt="..." >
          </div>
  
          <div class="card-footer">          

              <h6 class="text-left">{{ salon.name }}</h6>
              <p class="text-left">{{salon.address | slice:0:28}}{{salon.address.length > 28 ? '...' : ''}}</p>

              <div class="row">
                <div class="col-md-5 text-left">
                    <i class="fa fa-star text-danger"></i> {{salon.rate}} ({{salon.numRate}})
                </div>
                <div class="col-md-7 text-right">
                    <p>{{salon.priceFrom | currency:'VND'}} ~</p>
                </div>
              </div>
          </div>
          </div>
      </a>
    </div>
  </div>

  <div class="col-md-9" >
    <div class="card " style='position: sticky;top: 80px'>
      <div class="map">
        <div id='map' class="map" style='height: 100vh'></div>
      </div>
    </div>
  </div>

</div>

<ng-template #elseBlock>
  <div class="row">
    <div class="col-md-3" *ngFor="let salon of salons">
      <a href="#/salons/{{salon._id}}">
        <div class="btn-primary card card-pricing" > 
          <div class="image">
              <!--img src="assets/img/damir-bosnjak.jpg" alt="..." -->
              <img src='http://localhost:3000/{{salon.photos[0]}}' alt="..." >
          </div>
  
          <div class="card-footer">
              <h6 class="text-left">{{ salon.name }}</h6>
              <p class="text-left">{{salon.address | slice:0:28}}{{salon.address.length > 28 ? '...' : ''}}</p>

              <div class="row">
                <div class="col-md-5 text-left">
                    <i class="fa fa-star text-danger"></i> {{salon.rate}} ({{salon.numRate}})
                </div>
                <div class="col-md-7 text-right">
                    <p>{{salon.priceFrom | currency:'VND'}} ~</p>
                </div>
              </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</ng-template>