<div class="row" style='position: sticky;top: 90px'>
  <button type="button" class="btn btn-primary btn-round d-block mr-0 ml-auto" (click)="toggleMap()"> 
  <!--button type="button" class="btn btn-primary btn-round" style="position: sticky;top: 80px;position: absolute; right: 0px;" (click)="toggleMap()"--> 
    {{buttonMap}}
  </button>
</div>

<div class="row" *ngIf="isMapShown; else noShowMap">
  
  <div class="col-md-3" >
    <div class="row" *ngFor="let salon of salons; let i = index">
      <a href="#/salons/{{salon._id}}">
        <div class="btn-primary card card-pricing" (mouseover)="mouseOverAction(salon, i)" (mouseout)="mouseOutAction(salon, i)"> 
          <div class="image">
              <!--img src="assets/img/damir-bosnjak.jpg" alt="..." -->
              <img src='{{dbAddress}}/{{salon.photos[0]}}' alt="..." >
          </div>
  
          <div class="card-footer">          

              <h6 class="text-left">{{ salon.name }}</h6>
              <p class="text-left">{{salon.address | slice:0:28}}{{salon.address.length > 28 ? '...' : ''}}</p>

              <div class="row">
                <div class="col-md-5 text-left">
                    <i class="fa fa-star text-danger"></i> {{salon.rate}} ({{salon.numRate}})
                </div>
                <div class="col-md-7 text-right" *ngIf="salon.services[0]; else noPrice">
                  <p>{{salon.services[0].price | currency:'VND'}} ~</p>
                </div>

                <ng-template #noPrice>
                  <div class="col-md-7 text-right">
                  <p>{{0 | currency:'VND'}} ~</p>
                  </div>
                </ng-template>
              </div>
          </div>
          </div>
      </a>
    </div>
  </div>

  <div class="col-md-9" >
    <div class="card " style='position: sticky;top: 140px'>
      <div class="map">
        <div id='hairSalonMap' class="map" style='height: 100vh'></div>
      </div>
    </div>
  </div>

</div>

<ng-template #noShowMap>
  <div class="row">
    <div class="col-md-3" *ngFor="let salon of salons">
      <a href="#/salons/{{salon._id}}">
        <div class="btn-primary card card-pricing" > 
          <div class="image">
              <!--img src="assets/img/damir-bosnjak.jpg" alt="..." -->
              <img src='{{dbAddress}}/{{salon.photos[0]}}' alt="..." >
          </div>
  
          <div class="card-footer">
              <h6 class="text-left">{{ salon.name }}</h6>
              <p class="text-left">{{salon.address | slice:0:28}}{{salon.address.length > 28 ? '...' : ''}}</p>

              <div class="row">
                <div class="col-md-5 text-left">
                    <i class="fa fa-star text-danger"></i> {{salon.rate}} ({{salon.numRate}})
                </div>
                <div class="col-md-7 text-right" *ngIf="salon.services[0]; else noPrice">
                  <p>{{salon.services[0].price | currency:'VND'}} ~</p>
                </div>

                <ng-template #noPrice>
                  <div class="col-md-7 text-right">
                  <p>{{0 | currency:'VND'}} ~</p>
                  </div>
                </ng-template>
                
              </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</ng-template>