<nav class="navbar navbar-expand-lg navbar-absolute fixed-top bg-transparent">
  <div class="logo">
    <a href="{{baseUrl}}/home" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/angular2-logo.png">

      </div>
    </a>

    <a href="{{baseUrl}}/home" class="simple-text ">G-Salon</a>

    <!-- <a href="{{baseUrl}}/home" class="simple-text">
      Hair-Salon
    </a>     -->
  </div>
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <!-- <a class="navbar-brand" href="#">{{getTitle()}}</a> -->
    </div>
    <button class="navbar-toggler" type="button" (click)="collapse()" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
      <!-- <form>
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
          </div>
        </div>
      </form> -->
      <ul class="navbar-nav mr-auto" routerLinkActive="active" style="opacity: 1;">

        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="{{baseUrl}}/admin/salonOwners" class="nav-link">Trang quản lý</a>
        </li>
        <li class="nav-item" *ngIf="showDistributorBoard">
          <a href="{{baseUrl}}/distributor/profile" class="nav-link">Trang quản lý</a>
        </li>
        <li class="nav-item" *ngIf="showSalonOwnerBoard">
          <a href="{{baseUrl}}/manager/profile" class="nav-link">Trang quản lý</a>
        </li>
        <!-- <li class="nav-item">
          <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
        </li> -->
      </ul>

      <div class="navbar-nav mr-auto" *ngIf="isSearchVisible">
        <div class="col-md-4">
          <div class="form-group">
            <!-- <label class="search-label">Thành phố</label> -->
            <div class="input--style-1">
              <ng-autocomplete [data]="cities" [searchKeyword]="keyword" [initialValue]="initialCity"
                placeHolder="Thành Phố" (selected)='selectCityEvent($event)' (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                (inputCleared)="handleCityEmptyInput()">

              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <!-- <label class="search-label">Quận</label> -->
            <div class="input--style-1">
              <ng-autocomplete [data]="districts" [searchKeyword]="keyword" [initialValue]="initialDistrict"
                placeHolder="Quận" (selected)='selectDistrictEvent($event)' (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                (inputCleared)="handleDistrictEmptyInput()">
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <!-- <label class="search-label"></label> -->
          <!-- <a href="{{baseUrl}}/main/location/{{selectedCityName}}/{{selectedDistrictName}}" class="nav-link"> -->
          <button class="btn-circle-search-submit" type="submit" (click)="sendMessage()"><i
              class="fa fa-search"></i></button>
          <!-- <app-main-page [selectedCityName]="selectedCityName" [selectedDistrictName]="selectedDistrictName"></app-main-page> -->
          <!-- </a> -->
        </div>
      </div>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="{{baseUrl}}/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item btn-rotate" ngbDropdown placement="bottom-left">
          <a class="nav-link" ngbDropdownToggle id="navbarDropdownMenuLink">
            <i class="nc-icon nc-single-02"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
            <a ngbDropdownItem href="javascript:void(0)" (click)="logout()">Thoát</a>

          </div>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <!-- <li class="nav-item">
          <a href="#" class="nav-link" routerLink="become-a-salonowner">Become a SalonOwner </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-magnify" href="javascript:void(0)" (click)="login()">
            <i class="nc-icon nc-globe"></i>

          </a>
        </li> -->

        <li class="nav-item btn-rotate" ngbDropdown placement="bottom-left">
          <a class="nav-link" ngbDropdownToggle id="navbarDropdownMenuLink">
            <i class="nc-icon nc-single-02"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
            <a ngbDropdownItem href="javascript:void(0)" (click)="login()">Đăng nhập</a>
            <a ngbDropdownItem href="javascript:void(0)" (click)="register()">Đăng ký</a>
          </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link btn-rotate" href="javascript:void(0)">
            <i class="nc-icon nc-settings-gear-65"></i>
            <p>
              <span class="d-lg-none d-md-block">Account</span>
            </p>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>