<div class="container" style="content: normal;">
    <h4>Đăng ký thành chủ salon</h4>
    <form name="form" (ngSubmit)=" onSubmit()" #f="ngForm" novalidate>

        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="form-group">
                    <label for="username">Tên đăng nhập</label>
                    <input type="text" class="form-control" name="username" placeholder="user2" value="user2" [(ngModel)]="form.username" required #username="ngModel"/>
                    <!-- <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">
                        Username is required!
                    </div> -->
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="form-group">
                    <label for="lastname">Họ</label>
                    <input type="text" class="form-control" name="lastname" placeholder="Mark" value="Mark" [(ngModel)]="form.lastname" required
                        minlength="4" #lastname="ngModel" />
                    <!-- <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="form-group">
                    <label for="firstname">Tên</label>
                    <input type="text" class="form-control" name="firstname" placeholder="Nguyen" value="Nguyen" [(ngModel)]="form.firstname" required
                        minlength="4" #firstname="ngModel" />
                    <!-- <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div> -->
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="form-group">
                    <label for="phone">Số điện thoại</label>
                    <input type="tel" class="form-control" name="phone" placeholder="000-000-000" value="000-000-000" [(ngModel)]="form.phone" required
                        minlength="4" #phone="ngModel" />
                    <!-- <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="user2@gmail.com" value="user2@gmail.com" [(ngModel)]="form.email" required
                        minlength="4" #email="ngModel" />
                    <!-- <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div> -->
                </div>
            </div>
           
        </div>  
        <div class="row">
            <div class="col-xs-4 col-md-2">
                <div class="form-group">
                    <label for="city">Thành phố</label>
                    <input type="text" class="form-control" name="city" placeholder="Hồ Chí Minh" value="Hồ Chí Minh" [(ngModel)]="form.city" required
                        minlength="4" #city="ngModel" />
                    <!-- <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="form-group">
                    <label for="district">Quận</label>
                    <input type="text" class="form-control" name="district" placeholder="Quận 1" value="Quận 1" [(ngModel)]="form.district" required
                        minlength="4" #district="ngModel" />
                    <!-- <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-4 col-md-8">
                <div class="form-group">
                    <label for="address">Địa chỉ</label>
                    <input type="text" class="form-control" name="address" placeholder="Chung Cu C3" value="Chung Cu C3" [(ngModel)]="form.address" required
                        minlength="4" #address="ngModel" />
                    <!-- <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    

        <div class="form-group">
            <button class="btn btn-primary btn-block">
                Submit
            </button>
        </div>
        <!-- <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                Login failed: {{ errorMessage }}
            </div>
        </div> -->
    </form>
</div>