
<!-- <div class="wrapper wrapper--w1070"> -->
    <!-- <div class="card card-7">
        <div class="card-body"> -->
            <form class="form" method="POST" action="#">
                <div class="input-group input--large">
                    <label class="label">Tên Salon</label>
                    <input class="input--style-1" type="text" placeholder="" name="going">
                </div>
                <div class="input-group input--large">
                    <label class="label">Thành phố</label>
                    <input class="input--style-1" type="text" name="city" placeholder="" id="input-city">
                </div>
                <div class="input-group input--large">
                    <label class="label">Quận</label>
                    <input class="input--style-1" type="text" name="district" placeholder="" id="input-district">
                </div>
                <button class="btn-submit" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <!-- <a href="{{prefixPath}}/main"> -->
                <a [routerLink]="['../main/coords', myLatitude, myLongitude]">
                    <button class="btn-submit" type="submit" style="position: fixed; top: 65%; left:43%">Tìm salon gần bạn</button>
                </a>                
            <!-- </a> -->
        <!-- </div>
    </div> -->
<!-- </div> -->
