<div class="row">
    <form>
    
        <div class="row">
            <div class="col-md-4">
                <div *ngIf="isDisplayButtonNearby; else disableClick">
                    <a [routerLink]="['../main/coords', myLatitude, myLongitude]">
                        <button class="btn-search-submit" type="submit">Tìm salon gần bạn</button>
                    </a>
                </div>
                <ng-template #disableClick>
                    <div>
                        <button class="btn-search-submit" type="submit">Tìm salon gần bạn</button>
                    </div>
                </ng-template>
            </div>
            <div class="col-md-1"> 
                <label class="search-label"></label>                           
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="search-label">Thành phố</label>
                    <div class="input--style-1" >
                        <ng-autocomplete [data]="cities" [searchKeyword]="keyword" (selected)='selectCityEvent($event)'
                            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate">    
                                                    
                        </ng-autocomplete>
                        
                        <ng-template #itemTemplate let-item>                            
                            <a [innerHTML]="item.name"></a>
                        </ng-template>
                    
                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="search-label">Quận</label>
                    <div class="input--style-1">
                        <ng-autocomplete [data]="districts" [searchKeyword]="keyword" (selected)='selectDistrictEvent($event)'
                            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>
                    
                        <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                        </ng-template>
                    
                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <label class="search-label"></label>
                <button class="btn-circle-search-submit" type="submit"><i class="fa fa-search"></i></button>                            
            </div>
            
        </div>       
    </form>
</div>