
<div class="row">
    <!-- <div class="col-md-8"> -->
        <!-- <div class="card card-user" style="background: transparent;"> -->

            <!-- <div class="card-body"> -->
                <form>
                
                    <div class="row">
                        <div class="col-md-4">
                            <a [routerLink]="['../main/coords', myLatitude, myLongitude]">
                                <button class="btn-search-submit" type="submit">Tìm salon gần bạn</button>
                            </a>
                        </div>
                        <div class="col-md-1"> 
                            <label class="search-label"></label>                           
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="search-label">Thành phố</label>
                                <div class="input--style-1" >
                                    <ng-autocomplete [data]="cities" [searchKeyword]="keyword" (selected)='selectCityEvent($event)'
                                        (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                                        [notFoundTemplate]="notFoundTemplate">    
                                                                
                                    </ng-autocomplete>
                                    
                                    <ng-template #itemTemplate let-item>                            
                                        <a [innerHTML]="item.name"></a>
                                    </ng-template>
                                
                                    <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="search-label">Quận</label>
                                <div class="input--style-1">
                                    <ng-autocomplete [data]="districts" [searchKeyword]="keyword" (selected)='selectDistrictEvent($event)'
                                        (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                                        [notFoundTemplate]="notFoundTemplate">
                                    </ng-autocomplete>
                                
                                    <ng-template #itemTemplate let-item>
                                        <a [innerHTML]="item.name"></a>
                                    </ng-template>
                                
                                    <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label class="search-label"></label>
                            <button class="btn-circle-search-submit" type="submit"><i class="fa fa-search"></i></button>                            
                        </div>
                        
                    </div>       
                </form>
            <!-- </div> -->
            
        <!-- </div> -->
        
    <!-- </div>     -->
</div>


<!-- <div class="wrapper wrapper--w1070"> -->
    <!-- <div class="card card-7">
        <div class="card-body"> -->
        <!-- <div class="row">            
            <div class="card">
                <div class="col-md-10 pl-1" >
                    <label class="label">Tên Salon</label>
                    <input class="input" type="text" placeholder="" name="going">
                </div>
                <div class="col-md-10 pl-1" >
                    <label class="label">Thành phố</label>
                    <div class="ng-autocomplete" >
                        <ng-autocomplete [data]="cities" [searchKeyword]="keyword" (selected)='selectCityEvent($event)'
                            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate">    
                                                    
                        </ng-autocomplete>
                        
                        <ng-template #itemTemplate let-item>                            
                            <a [innerHTML]="item.name"></a>
                        </ng-template>
                    
                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
                <div class="input-group input--large">
                    <label class="label">Quận</label>
                    <div class="input--style-1">
                        <ng-autocomplete [data]="districts" [searchKeyword]="keyword" (selected)='selectDistrictEvent($event)'
                            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>
                    
                        <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                        </ng-template>
                    
                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
                <button class="btn-submit" type="submit"><i class="fa fa-search"></i></button>
            </div>
            <form class="form" method="POST" action="#">
                <div class="input-group input--large">
                    <label class="label">Tên Salon</label>
                    <input class="input--style-1" type="text" placeholder="" name="going">
                </div>
                <div class="input-group input--large">
                    <label class="label">Thành phố</label>
                    <div class="card" >
                        <ng-autocomplete [data]="cities" [searchKeyword]="keyword" (selected)='selectCityEvent($event)'
                            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate">    
                                                    
                        </ng-autocomplete>
                        
                        <ng-template #itemTemplate let-item>                            
                            <a [innerHTML]="item.name"></a>
                        </ng-template>
                    
                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                    
                </div>
                <div class="input-group input--large">
                    <label class="label">Quận</label>
                    <div class="input--style-1">
                        <ng-autocomplete [data]="districts" [searchKeyword]="keyword" (selected)='selectDistrictEvent($event)'
                            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>
                    
                        <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                        </ng-template>
                    
                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
                <button class="btn-submit" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div> -->
            <!-- <a href="{{prefixPath}}/main"> -->
                                
            <!-- </a> -->
        <!-- </div>
    </div> -->
<!-- </div> -->
