<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Cảnh báo</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Bạn có muốn xóa tài khoản chủ salon <input [(ngModel)]="deletedSalonOwner.name" class="text-primary"> không?</strong></p>
    <p>Tất cả thông tin của chủ salon sẽ bị xóa vĩnh viễn.
    <span class="text-danger">Tài khoản chủ salon sẽ không thể phục hồi.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
  </div>
  