

<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                  <div class="col-md-6">
                    <h4 class="card-title"> Danh sách salon</h4>
                    </div>
                  <div class="col-md-6">  
                    <th class="pull-right">
    
                      <div class="form-group">                   
                        
                        <div class="input--style-1">                      
                          <ng-autocomplete [data]="salons" [searchKeyword]="keyword" placeHolder="Nhập tên Salon"
                             (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" (inputCleared)="handleEmptyInput()">
                          </ng-autocomplete>
    
                          <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                          </ng-template>
            
                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                        </div>
                      </div>
                      
                        
                    </th>
                  </div>
                </div>
              </div>
            <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                <thead class=" text-primary">
                    <th>
                    Tên salon
                    </th>
                    <th>
                    Số điện thoại
                    </th>
                    <th>
                    Email
                    </th> 
                    <th>
                    Thông tin
                    </th>
                    <th class="text-right">
                    <button class="btn btn-sm btn-success btn-round btn-icon " (click)= "createNewSalon()">
                        <a data-toggle="tooltip" data-placement="top" title="Thêm mới"> <i class="nc-icon nc-simple-add"></i></a>
                    </button>
                    </th>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let salon of displayedSalons">
                        
                        <td>
                            <a href="{{prefixPath}}/{{salon._id}}">{{ salon.name }}</a>
                        </td>
                        <td>
                            {{ salon.phone }}
                        </td>
                        <td>
                            {{ salon.email }}
                        </td>
                        <td>
                            {{ salon.info }}
                        </td>
                        <td >
                            <button class="btn btn-sm btn-danger btn-round btn-icon pull-right" (click)= "deleteSalon(salon._id)">
                            <a data-toggle="tooltip" data-placement="top" title="Xóa"> <i class="fa fa-trash"></i></a>
                            </button>
                            <p class="pull-right"> &#160; </p>
                            <a href="{{prefixPath}}/{{salon._id}}">
                                <button class="btn btn-sm btn-info btn-round btn-icon pull-right" >
                                    <a data-toggle="tooltip" data-placement="top" title="Sửa"><i class="fa fa-pencil"></i></a>
                                </button>
                            </a>
                        </td>
                    </tr>
                    
                </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>
</div>   
    

