<div class="row">
    <div class="card card-plain">
        <div class="card-header">
          <h4 class="card-title"> {{salon.name}}</h4>
          <p class="card-category"> <i class="fa fa-star text-danger"></i> 4.5 (232) Address {{salon.address}}</p>
        </div>
    </div>
</div>

<div class="row"> 
  <div class="col-md-6">
    <div class="btn btn-image card" (click)= "showImageSlider()">
      <img src="assets/img/damir-bosnjak.jpg" style="width:100%">
    </div>
  </div>
  <div class="col-md-3">
    <div class="btn btn-image card image" (click)= "showImageSlider()" >
      <img src="assets/img/damir-bosnjak.jpg" style="width:100%">
    </div>
    <div class="btn btn-image card image" (click)= "showImageSlider()">
      <img src="assets/img/damir-bosnjak.jpg" style="width:100%">
    </div>
  </div>  
  <div class="col-md-3">
    <div class="btn btn-image card image" (click)= "showImageSlider()">
      <img src="assets/img/damir-bosnjak.jpg" style="width:100%">
    </div>
    <div class="btn btn-image card image" (click)= "showImageSlider()">
      <img src="assets/img/damir-bosnjak.jpg" style="width:100%">
    </div>
  </div>
</div>

<div class="row">

    <div class="col-md-8">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-title">Salon Info {{salon.info}}</h5>
          <p class="card-category">Line Chart with Points</p>
        </div>
        <div class="card-body">
          <canvas id="speedChart" width="400" height="100"></canvas>
        </div>
        <div class="card-footer">
          <div class="chart-legend">
            <i class="fa fa-circle text-info"></i> Tesla Model S
            <i class="fa fa-circle text-warning"></i> BMW 5 Series
          </div>
          <hr/>
          <div class="card-stats">
            <i class="fa fa-check"></i> Data information certified
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card pull-right">
        <div class="card-header ">
          <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Chọn ngày</label>
  
                <input class="form-control" name="dp" [(ngModel)]="modelDob" [ngModelOptions]="{standalone: true}" ngbDatepicker
                  [footerTemplate]="footerTemplate" 
                  #d="ngbDatepicker" 
                  [minDate]="today"
                  (click)="d.toggle()">
  
                <ng-template #footerTemplate>
                  <hr class="my-0">
                  <button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; d.close()">Today</button>
                  <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Close</button>
                </ng-template>
  
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Chọn giờ</label>
  
                <input class="form-control" name="dp" [(ngModel)]="modelDob" [ngModelOptions]="{standalone: true}" ngbDatepicker
                  [footerTemplate]="footerTemplate" 
                  #d="ngbDatepicker" 
                  [minDate]="today"
                  (click)="d.toggle()">
  
                <ng-template #footerTemplate>
                  <hr class="my-0">
                  <button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; d.close()">Today</button>
                  <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Close</button>
                </ng-template>
  
            </div>
          </div>
        </div>
        </div>
        <div class="card-body ">
          <div class="form-group">
            <select input type="text" class="form-control">
              <option >
                <p>Service 1   (30$)</p>
              </option>
              <option >
                <p>Service 2   (50$)</p>
              </option>
              <option >
                <p>Service 3   (130$)</p>
              </option>
            </select>
            
          </div>

          <div class="btn btn-booking card card-btn" (click)= "reserveService()">
            Đặt chỗ
          </div>
        </div>
        <div class="card-footer ">
          Service detail
          <hr>
          <div class="stats">
            <p style="text-align:left;">Tổng cộng
              <span style="float:right;">
                $$$
              </span>
            </p> 
          </div>
        </div>
      </div>
    </div>
    
</div>