.addressStyle {
    overflow:hidden;
    transition:transform 0.3s ease-out;
    height:auto;
    max-height: 20px;
    transform:scaleY(1); 
    transform-origin:top;
  }

.addressStyle.collapsed {
    transform:scaleY(0); 
  }

  .star {
    font-size: 1.5rem;
    color: #b0c4de;
  }
  .filled.color1 {
    color: red;
  }
  .filled.color2 {
    color: orange;
  } 
  .filled.color4 {
    color: green;
  } 
  .filled.color3 {
    color: grey;
  }