

<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
            <h4 class="card-title"> Đăng ký chủ salon</h4>
            <p class="card-category">(Đang xử lý)</p>
            </div>
            <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                <thead class=" text-primary">
                    <th>Username</th>
                    <th>Tên</th>
                    <th>Email</th> 
                    <th>Số điện thoại</th>
                    <th>Trạng thái</th>
                    <!-- <th>Khuyến mãi</th> -->
                    <!-- <th>Giá</th>     -->
                    <th class="text-right">
                    <!-- <button class="btn btn-sm btn-success btn-round btn-icon " (click)= "createNewSalon()">
                        <a data-toggle="tooltip" data-placement="top" title="Thêm mới"> <i class="nc-icon nc-simple-add"></i></a>
                    </button> -->
                    </th>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let item of becomeSalonOwnerList_waiting; let i = index">                        
                        <td> {{ item.username }}</td>
                        <td> {{ item.firstname }} {{ item.lastname }}</td>
                        <td> {{ item.email }} </td>
                        <td> {{ item.phone }} </td>
                        <td> {{ item.status }} </td>
                        <!-- <td> {{ order.event }} </td> -->
                        <!-- <td> {{ order.totalPrice | currency:'VND'}} </td> -->
                        <td >
                            <button class="btn btn-sm btn-success pull-right" (click)= "accept(item)">
                            <a data-toggle="tooltip" data-placement="top" >Chấp nhận</a>
                            </button>

                            <p class="pull-right"> &#160; </p>

                            <button class="btn btn-sm btn-danger pull-right" (click)= "reject(item)">
                            <a data-toggle="tooltip" data-placement="top" >Từ chối</a>
                            </button>
                        </td>
                    </tr>
                    
                </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>
</div>   

<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
            <h4 class="card-title"> Đăng ký chủ salon</h4>
            <p class="card-category">(Chấp nhận)</p>
            </div>
            <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                <thead class=" text-primary">
                    <th>Username</th>
                    <th>Tên</th>
                    <th>Email</th> 
                    <th>Số điện thoại</th>
                    <th>Trạng thái</th>
                    <!-- <th>Khuyến mãi</th> -->
                    <!-- <th>Giá</th>     -->
                    <th class="text-right">
                    <!-- <button class="btn btn-sm btn-success btn-round btn-icon " (click)= "createNewSalon()">
                        <a data-toggle="tooltip" data-placement="top" title="Thêm mới"> <i class="nc-icon nc-simple-add"></i></a>
                    </button> -->
                    </th>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let item of becomeSalonOwnerList_accept; let i = index">                        
                        <td> {{ item.username }}</td>
                        <td> {{ item.firstname }} {{ item.lastname }}</td>
                        <td> {{ item.email }} </td>
                        <td> {{ item.phone }} </td>
                        <td> {{ item.status }} </td>
                        <!-- <td> {{ order.event }} </td> -->
                        <!-- <td> {{ order.totalPrice | currency:'VND'}} </td> -->
                        <td >
                            <button class="btn btn-sm btn-success pull-right" (click)= "accept(item)">
                            <a data-toggle="tooltip" data-placement="top" >Chấp nhận</a>
                            </button>

                            <p class="pull-right"> &#160; </p>

                            <button class="btn btn-sm btn-danger pull-right" (click)= "reject(item)">
                            <a data-toggle="tooltip" data-placement="top" >Từ chối</a>
                            </button>
                        </td>
                    </tr>
                    
                </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>
</div>   

<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
            <h4 class="card-title"> Đăng ký chủ salon</h4>
            <p class="card-category">(Từ chối)</p>
            </div>
            <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                <thead class=" text-primary">
                    <th>Username</th>
                    <th>Tên</th>
                    <th>Email</th> 
                    <th>Số điện thoại</th>
                    <th>Trạng thái</th>
                    <!-- <th>Khuyến mãi</th> -->
                    <!-- <th>Giá</th>     -->
                    <th class="text-right">
                    <!-- <button class="btn btn-sm btn-success btn-round btn-icon " (click)= "createNewSalon()">
                        <a data-toggle="tooltip" data-placement="top" title="Thêm mới"> <i class="nc-icon nc-simple-add"></i></a>
                    </button> -->
                    </th>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let item of becomeSalonOwnerList_reject; let i = index">                        
                        <td> {{ item.username }}</td>
                        <td> {{ item.firstname }} {{ item.lastname }}</td>
                        <td> {{ item.email }} </td>
                        <td> {{ item.phone }} </td>
                        <td> {{ item.status }} </td>
                        <!-- <td> {{ order.event }} </td> -->
                        <!-- <td> {{ order.totalPrice | currency:'VND'}} </td> -->
                        <td >
                            <button class="btn btn-sm btn-success pull-right" (click)= "accept(item)">
                            <a data-toggle="tooltip" data-placement="top" >Chấp nhận</a>
                            </button>

                            <p class="pull-right"> &#160; </p>

                            <button class="btn btn-sm btn-danger pull-right" (click)= "reject(item)">
                            <a data-toggle="tooltip" data-placement="top" >Từ chối</a>
                            </button>
                        </td>
                    </tr>
                    
                </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>
</div>   
    

