
<link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-inputs/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-lists/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet" />

<div class="modal-body">
    <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Thêm sản phẩm mới</h5>
        </div>
        <div class="card-body">
          <form #customerForm="ngForm">
            <a>
                <img class="avatar-btn border-gray" src={{strProductPhoto}} (click)="fileInput.click()">
                <input #fileInput type="file" (change)="onFileSelected($event)" style="display:none;" />
            </a>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Tên sản phẩm(*)</label>
                        <input type="text" class="form-control" [(ngModel)]="product.name" [ngModelOptions]="{standalone: true}" placeholder="Tên sản phẩm" >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Thông tin</label>
                        <input type="text" class="form-control" [(ngModel)]="product.info" [ngModelOptions]="{standalone: true}" placeholder="Thông tin chi tiết">
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6 pr-1">
                    <div class="form-group">
                        <label>Giá</label>
                        <input type="text" class="form-control" [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}" placeholder="Giá">
                    </div>
                </div>
                <div class="col-md-6 pl-1">
                    <div class="form-group">
                        <label>Số lượng</label>
                        <input type="text" class="form-control" [(ngModel)]="product.quantity" [ngModelOptions]="{standalone: true}" placeholder="Số lượng trong kho">
                    </div>
                </div>
                
            </div>

            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round" (click)="modal.dismiss()"> Cancel</button>
                <button type="submit" class="btn btn-primary btn-round" (click)="addNewProduct()"> Ok</button>
              </div>
            </div>
          </form>
        </div>
      </div>

</div>
  
  