<div class="wrapper" style="background-image: url('../../../assets/img/hair-salon-quote-on-mirror-scaled.jpg'); background-size:cover;">
    <!-- <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div> -->
    <navbar-cmp></navbar-cmp>
    <div class="content" >
        
        <div class="content" style="margin-left:8%; margin-right:8%">
            <router-outlet></router-outlet>
        </div>
        
    </div>
    <footer-cmp></footer-cmp>
</div>

<fixedplugin-cmp></fixedplugin-cmp>
