<link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-inputs/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-lists/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet" />

<div class="modal-body">
    <div class="card card-user">
        <div class="card-header">
            <h7 class="card-title">Register</h7>
        </div>
        <div class="card-body">
            <form [formGroup]="registerForm">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername">Username</label>
                    <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="userHelp" placeholder="username">
                    <small id="userHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input  type="password" class="form-control" id="passwordInput" aria-describedby="passHelp" placeholder="password">
                    <small id="passHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="CpasswordInput">Confirm Password</label>
                    <input type="password" class="form-control" id="CpasswordInput" aria-describedby="CpassHelp" placeholder="password">
                    <small id="CpassHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group" style="text-align:center;">
                    <button type="button" class="btn btn-dark" (click)="register()">Register</button>
                    <button type="button" class="btn btn-secondary" (click)="moveToLogin()">Log in</button>
                </div>
            </form>
        </div>
    </div>

</div>