<link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-inputs/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-lists/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet" />

<div class="modal-body">
    <div class="card card-user">
        <div class="card-header">
            <h7 class="card-title">Register</h7>
        </div>
        <div class="card-body">
            <form #customerForm="ngForm">
                <div class="form-group">
                    <label>Email address (*)</label>
                    <input type="email" class="form-control" [(ngModel)]="userObject.email" [ngModelOptions]="{standalone: true}" placeholder="Enter email">
                  
                </div>
                <!-- <div class="form-group">
                    <label for="exampleInputUsername">Username</label>
                    <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="userHelp" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="username">
                    <small id="userHelp" class="form-text text-muted"></small>
                </div> -->
                <div class="form-group">
                    <label>Password</label>
                    <input  type="password" class="form-control" [(ngModel)]="userObject.password" [ngModelOptions]="{standalone: true}" placeholder="password">
                    
                </div>
                <!-- <div class="form-group">
                    <label >Confirm Password</label>
                    <input type="password" class="form-control"  placeholder="password">
                   
                </div> -->
                <div class="form-group" style="text-align:center;">
                    <button type="button" class="btn btn-dark" (click)="register()">Register</button>
                    <button type="button" class="btn btn-secondary" (click)="moveToLogin()">Log in</button>
                </div>
            </form>
        </div>
    </div>

</div>