<!-- We use Form Validation in the template:

username: required, minLength=3, maxLength=20
email: required, email format
password: required, minLength=6 -->



<link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-inputs/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-lists/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet" />

<div class="modal-body">

    <!-- <div class="card-header">
        <h6 class="card-title text-center">Đăng Ký</h6>
    </div> -->
    <!-- <div class="card-body"> -->
    <!-- <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" /> -->
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="username">Tên đăng nhập</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
                maxlength="20" #username="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                <div *ngIf="username.errors.required">Username is required</div>
                <div *ngIf="username.errors.minlength">
                    Username phải có ít nhất 3 ký tự
                </div>
                <div *ngIf="username.errors.maxlength">
                    Username có nhiều nhất 20 ký tự
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
                #email="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">
                    Yêu cầu nhập đúng email.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                minlength="6" #password="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                    Mật khẩu phải có ít nhất 6 ký tự!
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block">Đăng ký</button>
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Đăng ký tài khoản lỗi !!! <br />{{ errorMessage }}
        </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
        Đăng ký tài khoản thành công !!! 
    </div>

    <!-- </div> -->


</div>