<div class="row">

    <div class="col-md-12">
        <div class="card">

          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <h4 class="card-title"> Danh sách thợ cắt tóc</h4>
                </div>
              <div class="col-md-6">  
                <th class="pull-right">

                  <div class="form-group">                   
                    
                    <div class="input--style-1">                      
                      <ng-autocomplete [data]="displayedBarbers" [searchKeyword]="keyword" placeHolder="Nhập tên thợ cắt tóc"
                         (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                         [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" (inputCleared)="handleEmptyInput()">
                      </ng-autocomplete>

                      <ng-template #itemTemplate let-item>
                        <a [innerHTML]='item.firstname'></a>
                      </ng-template>
        
                      <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                      </ng-template>
                    </div>
                  </div>
                  
                    
                </th>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                    <!-- <th>username</th> -->
                  <th (click)="sort('firstname')">Full Name&nbsp;<i class="fa fa-sort"></i></th>
                  <th (click)="sort('salonName')">Salon&nbsp;<i class="fa fa-sort"></i></th>
                  <th (click)="sort('phone')">Phone&nbsp;<i class="fa fa-sort"></i></th>
                  <th (click)="sort('email')">Email&nbsp;<i class="fa fa-sort"></i></th>
                  <th (click)="sort('hometown')">Quê quán&nbsp;<i class="fa fa-sort"></i></th>
                  
                  <th class="text-right">
                    <button class="btn btn-sm btn-success btn-round btn-icon " (click)= "createNewBarber()">
                      <a data-toggle="tooltip" data-placement="top" title="Thêm mới"> <i class="nc-icon nc-simple-add"></i></a>
                    </button>
                  </th>

                </thead>
                <tbody>
                    
                    <tr *ngFor="let barber of displayedBarbers | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:page};">
                        <!-- <td><a href="{{prefixPath}}/{{barber._id}}/profile">{{ barber.username }}</a></td> -->
                        <td><a href="{{prefixPath}}/profile/{{barber._id}}">{{ barber.firstname }} {{ barber.lastname }}</a></td>
                        <td>{{ barber.salonName }}</td>
                        <td>{{ barber.phone}}</td>
                        <td>{{ barber.email }}</td>
                        <td>{{ barber.hometown }}</td>
                        
                        <td >
                            <button class="btn btn-sm btn-danger btn-round btn-icon pull-right" (click)= "deleteBarber(barber._id)">
                              <a data-toggle="tooltip" data-placement="top" title="Xóa"> <i class="fa fa-trash"></i></a>
                            </button>
                            <p class="pull-right"> &#160; </p>
                            <a href="{{prefixPath}}/profile/{{barber._id}}/">
                              <button class="btn btn-sm btn-info btn-round btn-icon pull-right">
                                <a data-toggle="tooltip" data-placement="top" title="Sửa"><i class="fa fa-pencil"></i></a>
                              </button>
                            </a>
                            
                        </td>
                    </tr>
                  
                </tbody>
                <pagination-controls (pageChange) = "page = $event" previousLabel="Previous" nextLabel="Next"></pagination-controls>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>   
  