<div class="modal-body">

    <form *ngIf="!isPasswordChanged" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="username">Tên đăng nhập</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                #username="ngModel" disabled=""/>
        </div>
        <div class="form-group">
            <label for="password1">Nhập mật khẩu mới</label>
            <input type="password" class="form-control" name="password1" [(ngModel)]="form.password1" required
                #password1="ngModel" />
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password1.invalid">
                Mật khẩu mới không hợp lệ
            </div>
        </div>
        <div class="form-group">
            <label for="password2">Nhập lại mật khẩu mới</label>
            <input type="password" class="form-control" name="password2" [(ngModel)]="form.password2" required
                minlength="4" #password2="ngModel" />
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password2.invalid">
                <div *ngIf="password2.errors.required">Nhập lại mật khẩu mới</div>
                <div *ngIf="password2.errors.minlength">
                    Mật khẩu phải có ít nhất 4 ký tự
                </div>                
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block">
                Thay đổi mật khẩu
            </button>
        </div>
        
        <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && !isPasswordSame">
                Mật khẩu không giống nhau
            </div>
        </div>
    </form>

    <div class="alert alert-success" *ngIf="isPasswordChanged">
        Thay đổi mật khẩu thành công
    </div>

</div>

